/* @media (max-width: 776px) {
  .carousel {
    height: 100%;
  }
} */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #eee;
}

body,
.view {
  height: 100%;
}

p {
  margin-top: 1rem;
}

.carousel {
  height: 50%;
}

.carousel .carousel-inner {
  height: 100%;
}

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .carousel-active {
  height: 100%;
}

.wrapper {
  width: 100%;
  max-width: 1980px;
  margin: 0 auto;
}
.grid-wrapper {
  display: grid;
  grid-template-areas: "a" "b" "c" "d" "e" "f" "g" "h" "k" "l";
  grid-auto-rows: minmax(150px, auto);
}
.grid-wrapper > *{
  padding: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333;
}
.grid-item-1 {
  min-height: 10vh;
  background-image: url('https://images.pexels.com/photos/699782/pexels-photo-699782.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: center center;
  grid-area: a;

}

.grid-item-2 {
  min-height: 60vh;

  background-image: url('../assets/Leu_Dashkevich.png');
  background-position: center top;
  grid-area: b;
  color: #fff;
}

.grid-item-3 {
  min-height: 10vh;
  background-image: url('https://images.pexels.com/photos/242433/pexels-photo-242433.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: center center;

  grid-area: c;

}

.grid-item-4 {
  min-height: 60vh;

  background-image: url('../assets/bg-beidge.png');
  grid-area: d;

}

.grid-item-5 {
  min-height: 10vh;

  background-image: url('https://images.pexels.com/photos/1596882/pexels-photo-1596882.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  grid-area: e;

}

.grid-item-6 {
  min-height: 20vh;

  background-image: url('https://images.pexels.com/photos/168442/pexels-photo-168442.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  grid-area: f;

}

.grid-item-7 {
  min-height: 40vh;
  background-image: url('../assets/foto-3.png');
  background-position: center center;
  grid-area: g;
}

.grid-item-8 {
  min-height: 40vh;

  background-image: url('https://images.pexels.com/photos/1078851/pexels-photo-1078851.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: center center;
  grid-area: h;

}

.grid-item-9 {
  min-height: 40vh;
  background-image: url('https://images.pexels.com/photos/206551/pexels-photo-206551.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: center top;
  grid-area: k;

}

.grid-item-10 {
  min-height: 40vh;

  background-image: url('https://images.pexels.com/photos/1002406/pexels-photo-1002406.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: center top;
  grid-area: l;

}

/* @media (min-width: 500px){
  .grid-wrapper{
      grid-template-columns: 1fr 1fr;
  }
  .grid-item-1 {
      grid-column: 1 / 3;
      grid-row: 1 / 3;
  }
  .grid-item-2 {
      grid-column: 1;
      grid-row: 3 / 6;
  }
  .grid-item-3 {
      grid-column: 1;
      grid-row: 6;
  }
  .grid-item-6 {
      grid-column: 2;
      grid-row: 5 / 7;
  }
} */

.grid-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}


.list li a.list-fb {
  background-image: url(../assets/fb.png);
}


.page-footer {
  background-color: #929fba;
}

@media (min-width: 600px) {
  .grid-wrapper {
    grid-template-areas: "a a a b b b b"
                         "e e e e e e e"
                         "d d d d c c c"
                         "f f f f f f f"
                         "g g g h h h h"
                         "k k k k l l l";
  }
  .grid-item-1,
  .grid-item-3,
  .grid-item-7,
  .grid-item-8,
  .grid-item-9,
  .grid-item-10 {
    min-height: 30vh;
  }
  .grid-item-2 {
    min-height: 70vh;
    min-width: 50vw;
  }
  .grid-item-4 {
    min-height: 70vh;
    min-width: 50vw;
  }
  .grid-item-5,
  .grid-item-6 {
    min-height: 20vh;
  }
  .grid-item-1,
  .grid-item-3 {
    min-width: 40vw;
  }
}

/* @media (min-width: 800px) {
  .home{
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: minmax(150px, auto) minmax(150px, auto);
      grid-auto-rows:minmax(100px, auto) ;
  }
  .grid-item-1 {
      grid-column: 1;
      grid-row: 1 / 6;
  }
  .grid-item-2 {
      grid-column: 2;
      grid-row: 1 / 4;
  }
  .grid-item-3{
      grid-column: 2;
      grid-row: 4 / 6;
  }
  .grid-item-6 {
      grid-column: 3;
      grid-row: 3 / 6;
  }
} */

@media (min-width: 1000px) {
  .grid-wrapper {
    grid-template-areas: "a a b b b b c c"
                         "d d d d e e e e"
                         "f f f f f f f f"
                         "g g h h k k l l";
  }
  .grid-item-1,
  .grid-item-3,
  .grid-item-5,
  .grid-item-7,
  .grid-item-8,
  .grid-item-9,
  .grid-item-10 {
    min-height: 50vh;
  }
  .grid-item-2 {
    min-height: 70vh;
    min-width: 40vw;
  }
  .grid-item-4 {
    min-height: 70vh;
    min-width: 30vw;
  }
  .grid-item-1,
  .grid-item-3 {
    min-width: 25vw;
  }
  .grid-item-6 {
    min-height: 10vh;
  }

}