body {
  font-family: 'Roboto', sans-serif;
  background-color: #eee;
  width: 100%;
}

p {
  margin-top: 1rem;
}

.wrapper {
  width: calc(100vw - 20px);
  height: 100%;
  max-width: 1980px;
  margin: 0 auto;
}

.main-container {
  display: grid;
  min-height: 100%;
  width: 100%;
  justify-content: center;
  background-image: url('../assets/images/background-main.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .main-container {
    display: grid;
    grid-template-rows: 1fr 6fr;
    justify-content: center;
    background-image: url('./assets/images/background-main.png');

} */

.input {
    height: 25px;
    font-size: 18px;
    margin: 5vh 0;

}

.searcher-container {
    position: relative;
    margin: 0 auto;
}

.results-container {
    max-width: 1200px;
    height: 800px;
}

.result-section {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    background: rgba(255, 255, 255, 0.6);
    margin: 50px 20px 0;

}

.photograph-section {
    display: grid;
    grid-template-columns: 15% 85%;
    justify-items: center;
    align-items: center;
    border-bottom-style: solid;
    border-color: rgba(128, 128, 128, 0.6);
}

.page-footer {
  background-color: #929fba;
}
